/* * {
    padding: 0;
}

#start-content {
    background-image: url(./resort.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
} */


#start-over {
    position: absolute;
    left:50px;
    top: 50px;
    background-color: greenyellow;
    color: black;
    padding: 10px 20px;
}

#second-content2 , #third-content {
    background-position: bottom;
    background-repeat: no-repeat;
}

#last-content {
    position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      top: 0; left: 0; bottom: 0; right: 0;
}