
#start-over {
    position: absolute;
    left:50px;
    top: 50px;
    background-color: greenyellow;
    color: black;
    padding: 10px 20px;
}

#second-content2 , #third-content {
    background-position: bottom;
    background-repeat: no-repeat;
}

 #last-content {
    position: absolute;
     top: 0; left: 0; bottom: 0; right: 0;
     
}   

#skiThird {
    
    background-size: 50%;
    
 }

#wrongWay {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 40%;
    
}

#afterSki {
    background-size: 60%;
}

#ear {

max-width: 1000px;
display: block;
position: relative;
margin: 0 auto;
height: 200px;
    
}

#btn1 {
    
    width:3rem ;
    height: 1.5rem;
    position: absolute;
    left: 25rem;
    top: 3rem;
}